{% load static %}
{% for topics in topic %}
<tr>
    <td>{{forloop.counter0|add:topic.start_index}}</td>
    <td>{{topics.name}}</td>
    <td>{{topics.subject}}</td>
    <td>{{topics.subject.course}}</td>
    <td>{{topics.status}}</td>
    <td>{{topics.is_active}}</td>
    <td>
        <a href="javascript:;" class="topic-edit" id="topic-edit" data-fancybox="" data-src="#topic-popup" data-url="{% url 'appswift:update_topic' topics.id %}">
            <img src="{% static '/swift/assets/images/edt_icon.svg' %}" alt="icon">
        </a>
   
        <a href="javascript:;" onclick="DeleteTopic({{topics.id}})">
            <img src="{% static '/swift/assets/images/dlt_icon.svg' %}" alt="icon">
        </a>
    </td>
<tr>
{% endfor %}