input{
    border: 1px solid rgba(159, 159, 159, 0.3);
    border-radius: 4px;
    height: 45px;
    padding: 13px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.main-button{
    background-color: #4286f5;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 8px 25px;
    height: 35px;
    color: #ffff;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}