{% extends "swift/layout/user_base.html" %} {% load static %} {% block body_block %}
<div class="content-inner full-screen">
    <div class="page-block">
        <input type="hidden" value="{% url 'appswift:course' %}" id="load_course">
        <div class="d-flex justify-content-between">
            <h1 class="page-block-title">Course</h1>

            
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
            
            
                
                
              
          

            <div class="col-md-3">
                <select id="curriculum-select" name="curriculum" class="form-control">
                    <option value="" selected>-curriculum-</option>
                    {% for curriculum in curriculums %}
                    <option value="{{ curriculum.id }}">{{ curriculum.name }}</option>
                    {% endfor %}
                </select>
            
            </div>
            <form id="form">
            <input type="text" id="search-id" name='filter' placeholder="Search course">
               
                
                
                <button type="button" id="reset-button">Reset</button>  <!-- Add the reset button -->
            {% comment %} <button type="button" id="reset-button">Reset</button>  <!-- Add the reset button --> {% endcomment %}
   
        </form> 


            <div>
                <a class="add-course" id="create_course" data-fancybox="" data-src="#course-popup"
                    data-url="{% url 'appswift:create_course'%}">
                    <button>+</button>
                </a>
            </div>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Sl.NO</th>
                        <th>Name</th>
                        <th>Curriculam</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody id="course-tbody">
                    {% include 'swift/course/course_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-outer align-items-center justify-content-between d-flex" id="course-pagination">
        {% include 'swift/course/pagination.html' %}
    </div>
    <div>
        <!-- Course Add form starts-->
        <div class="add-course" id="course-popup" style="display:none;">
            <div class="pop-body" id="course-div">
                <div class="formbg-inner">
                    <form method="post" action="" class="CourseForm" id="CourseForm" name="CourseForm">
                        {% csrf_token %}
                        <h2 class="padding-bottom--15" id="popup_head">Add Course</h2>
                        <div class="course-form" id="course-form-div">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Course Add form ends -->
    </div>
</div>
</div>
{% endblock body_block %}
{% block page_script %}
<script src="{% static '/swift/assets/js/course.js' %}?v={% now 'd_m_yH:i:s'%}"></script>
{% endblock page_script %}